<div class="container card">
  <form id="register" enctype="multipart/form-data" class="my-3">
    {{!-- Nombre --}}
    <div class="mb-3">
      <label for="firstName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    {{!-- Apellido --}}
    <div class="mb-3">
      <label for="lastName" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3">
      <label for="picture">Foto</label>
      <input type="text" name="picture" id="picture">
    </div>
    {{!-- <div class="mb-3">
      <label for="url">Foto URL</label>
      <input type="file" name="picture" id="url">
    </div> --}}
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="./assets/js/register.js"></script>